@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Blocat";
}

<hgroup>
    <h1 class="text-danger">Blocat</h1>
    <h2 class="text-danger">Contul tău este blocat temporar. Te rugăm să reîncerci mai târziu.</h2>
    <h2 class="text-danger">Ne cerem scuze pentru că nu putem să te ajutăm momentan și îți mulțumim pentru înțelegere!</h2>
</hgroup>
