@{
    ViewBag.Title = "Resetare parolă";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Te rugăm să-ți verifici e-mailul pentru a-ți reseta parola!
    </p>
</div>
	
