@{
    ViewBag.Title = "Despre";
}

<div class="jumbotron" style="background-color:moccasin">
    <h1 style="color:darkcyan; font-family:'Agency FB'">CRYPTO ACB</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Imagini/making-money-in-real-estate-min (1).png" width="650" height="420" />
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p>
                Este aplicația care îți oferă oportunitatea de a fi tot timpul la zi cu informații legate de pretțul Criptomonedelor.
            </p>
            <p>
                Îți poți creea cont gratuit și poți intra în lumea monedelor virtuale.
            </p>
            <p>
                Ai posibilitatea de a-ți deschide oricând, oricâte portofele dorești, în care poți adăuga criptomonedele tale preferate.
            </p>
            <p>
                Vei fii la curent cu toate cursurile de schimb, vei putea cumpăra și vinde atunci când crezi că este oportun pentru tine.
            </p>
        </div>
    </div>
</div>



