@{
    ViewBag.Title = "Acasa";
}

<div class="jumbotron" style="background-color:moccasin">
    <h1 style="color:darkcyan; font-family:'Agency FB'">CRYPTO ACB</h1>
    <div class="row">
        <div class="col-md-4">
            <img src="~/Imagini/making-money-in-real-estate-min (1).png" width="650" height="420" />
        </div>
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
            <p class="lead" style="color:blue">Aplicația care îți oferă oportunitatea de a fi tot timpul la zi cu informații legate de prețul Criptomonedelor.</p>
            <p style="color:blue">Creează-ți cont gratuit și intră în lumea monedelor virtuale.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4" style="background-color:chartreuse">
        <h2>Începe acum !</h2>
        <p>
            Îți poți deschide oricând, oricâte portofele dorești, în care poți adăuga criptomonedele tale preferate.
        </p>
        <img src="~/Imagini/images.jpg" width="350" height="200"/>
    </div>
    <div class="col-md-4" style="background-color:gold">
        <img src="~/Imagini/ghid-incepator-tranzactionare-crypto-exchange-cryptopedia.jpg" width="350" height="200" />
        <h2>Ușor de utilizat !</h2>
        <p>Stai fără griji și petrece-ți timpul împreună cu noi. Aici totul este mai ușor, mai simplu și la îndemână oricând.</p>
    </div>
    <div class="col-md-4" style="background-color:deepskyblue">
        <h2>Investește responsabil !</h2>
        <p>Fii la curent cu toate cursurile de schimb, cumpără și vinde atunci când crezi că este oportun pentru tine.</p>
        <img src="~/Imagini/image-bitcoin-black-background-bitcoin-107991145.jpg" width="350" height="200" />
    </div>
</div>